<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="{{ asset('css/style.css') }}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="icon" type="image/jpg" href="IMG/house-logo-png1.png" />
    <title>Acceuil</title>
</head>
<body>
 <div class="part">
        <img class ="part_logo" src="IMG/Grey_Square.svg.png" alt="partenaire">
        <img class ="part_logo" src="IMG/Grey_Square.svg.png" alt="partenaire">
        <img class ="part_logo" src="IMG/Grey_Square.svg.png" alt="partenaire">
        <img class ="part_logo" src="IMG/Grey_Square.svg.png" alt="partenaire">
        <img class ="part_logo" src="IMG/Grey_Square.svg.png" alt="partenaire">
        <img class ="part_logo" src="IMG/Grey_Square.svg.png" alt="partenaire">
        <img class ="part_logo" src="IMG/Grey_Square.svg.png" alt="partenaire">
        <img class ="part_logo" src="IMG/Grey_Square.svg.png" alt="partenaire">
        <img class ="part_logo" src="IMG/Grey_Square.svg.png" alt="partenaire">
        <img class ="part_logo" src="IMG/Grey_Square.svg.png" alt="partenaire">
        <img class ="part_logo" src="IMG/Grey_Square.svg.png" alt="partenaire">
        <img class ="part_logo" src="IMG/Grey_Square.svg.png" alt="partenaire">
        <img class ="part_logo" src="IMG/Grey_Square.svg.png" alt="partenaire">
        <img class ="part_logo" src="IMG/Grey_Square.svg.png" alt="partenaire">
        <img class ="part_logo" src="IMG/Grey_Square.svg.png" alt="partenaire">
        <img class ="part_logo" src="IMG/Grey_Square.svg.png" alt="partenaire">
        <img class ="part_logo" src="IMG/Grey_Square.svg.png" alt="partenaire">
        <img class ="part_logo" src="IMG/Grey_Square.svg.png" alt="partenaire">
        <img class ="part_logo" src="IMG/Grey_Square.svg.png" alt="partenaire">
       
        

        
    </div>

    <div class="logo_box">
        
        <div class="logo_a2s"><a href="http://127.0.0.1:8000/index1"><img src="IMG/A2SCONSEIL-LOGO.jpg" alt="A2sConseil"></a></div>
        <div class="logo_a2s_2"><a href="http://127.0.0.1:8000/index2"><img class="a2s_2" src="IMG/Logo-A2S-Flandre.png" alt="A2sFlandres"></a></div>

    </div>
    

    <div class="histo">
            <div class="jumbotron">
                    <h1>A2S Conseil et A2S Flandres</h1>
                    <p class="text_histo">Société de conseil et formation dans le domaine de la Sécurité santé au travail, créée en 2009, A2S Conseil est implantée dans la région Nord et Aisne et le littoral pour une meilleure proximité.
                        Face aux nombreux enjeux de la santé et sécurité dans votre entreprise, A2S Conseil vous accompagne vers une démarche d’amélioration de prévention des risques professionnels, et ce quel que soit votre secteur d’activité.</p>
                     <a class="btn btn-primary btn-lg" href="http://127.0.0.1:8000/index3" role="button">En savoir plus</a><!-- <hr class="my-4"> -->
                    
                   
                  </div>

    </div>

    <div class="foot">

        <div class="logo_foot">
            <img class="logo_footer" src="IMG/fb.png" alt="facebook">
            <img class ="logo_footer" src="IMG/link.png" alt="linkedin">
        </div>
        <div class="logo_foot_contact">
            <p class="contact_p">Adresse : <span class="coord">42 rue Duriez 59660 Merville</span></p>
            <p class="contact_p">Téléphone : <span class="coord">06 10 41 41 85</span></p>
            <p class="contact_p">Mail : <span class="coord">dominique.desein@a2s-conseil.fr</span></p>
        </div>
        <div class="logo_foot_legal">
            <p class="mentions">Mentions légales:</br><span class="legal">Vous disposez d’un droit d’accès, de modification, de rectification et de suppression des données qui vous concernent (art. 34 de la loi “Informatique et Libertés” du 6 janvier 1978). Vous pouvez, à tout moment , demander à exercer ce droit soit en nous contactant à cette adresse mail contact@a2s-conseil.fr  soit en nous adressant un courrier.</span> </p>
        </div>

    </div>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>
 
  
</body>
</html>